/* General Styles */
body {
  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  /* Student Details Styles */
  #student-info {
    margin-top: 20px;
  }
  
  .student {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .student h3 {
    margin-top: 0;
  }
  
  .student p {
    margin: 5px 0;
  }
  